body{
    background-color: #00ffff;
}
h1{
    text-align: center;
    background-color: #ffff;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 950px;
    width: 650px;
}
footer{
    background-color:#808080;
}
p{
    color: #000;
    text-align: center;
}
.bienvenido{
    background-color: #808080;
    padding: 30px;
    margin: 50px;
    
}
.bienvenido p{
    color: #fff;
    font-size: 20px;
}